<p><b>Angualr Directive</b></p>
<div row="row">
    1. Component Directive
</div>
<div row="row">
    2. Structuve Directive
</div>
<div class="row">

    <div class="col-6">
        <div class="row">
            {{ "Sample to use *ngIf to show/hide text" }}
        </div>
        <div  (click)="onClick()">
            <input type="checkbox"> Term and condition
        </div>
        <b *ngIf="isChecked">Term and condition box checked</b>
    </div>
    <div class="col-6">
         <div class="row">
            {{ "Sample to use @if to show/hide text" }}
        </div>
        <div class="col-6" (click)="onClick()">
        <input type="checkbox"> Term and condition
            @if (isChecked) {
                <div>Term and condition box checked</div>
            }
        </div>
    </div>
</div>


<br>
<div class="row text-center">
    <div class="col-6">
        <div class="row text-center">
            Sample to use *ngFor Directive to iterate a table structure
        </div>
        <table class="table table-bordered">
            <thead>
            <tr>
            <th class="alternativeRow">
                <b>Name</b>
            </th>
            <th>
                <b>Email</b>   
            </th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }} </td>
                </tr>
            </tbody>
        </table>
        <div class="row text-center">
            Sample to use *ngFor to iterate a option list
        </div>
         <div class="row text-center m-1">
            <select name="">
                <option value="user.name" *ngFor="let user of users">
                    {{ user.name + " - " + user.email}}
                </option>
            </select>
        </div> 
    </div>
   <div class="col-6">
        <div class="row text-center">
            {{ "Sample to use @for Directive to iterate a table structure" }} 
        </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>
                
            </th>
            <th>
                <b>Name</b>
            </th>
            <th>
                <b>Email</b>   
            </th>
            </tr>
            </thead>
            <tbody>
                @for (user of users; track user) 
                {
                   @if (!$even)
                   {
                        <tr  >
                            <td class="bg-light" >{{ $index }} </td>
                            <td class="bg-light" > {{ user.name }}</td>
                            <td class="bg-light" >{{ user.email }} </td>
                        </tr>                  
                   }
                   @else {
                        <tr>
                            <td >{{ $index }}</td>
                            <td>{{ user.name }}</td>
                            <td>{{ user.email }} </td>
                        </tr>    
                   } 
                }
              
            </tbody>
        </table>
         <div class="row text-center">
            {{ "Sample to use @for to iterate a option list" }}
        </div>
         <div class="row text-center m-1">
            <select name="">
                @for (user of users; track user)
                {
                    <option value="user.name">
                        {{ user.name + " - " + user.email}}
                    </option>    
                }
               
            </select>
        </div> 
    </div>
</div>

<div row="row">
    3. Attribute Directive

     <div class="row text-center">
    <div class="col-12 m-3">
        <h1><u> Examples of Attribute Directive - ngClass </u></h1>
    </div>
</div>

<div class="row text-center pt-3">
    <div class="col-4">
        <h3 [ngClass]="textColor">This is the first example of ngClass</h3>
        <br>
        <button class="btn btn-success m-2" (click)="changeColor('text-success')">Change to Green</button>
        <button class="btn btn-danger m-2" (click)="changeColor('text-danger')">Change to Red</button>
    </div>

    <div class="col-4">
        <h3 [ngClass]="isTextGreen ? 'text-success' : 'text-danger'">This is the second example of ngClass</h3>
        <br>
        <input type="checkbox" [(ngModel)]="isTextGreen"> Change Colour
    </div>

    <div class="col-4">
        <h3 [ngClass]="userClass">This is the third example of ngClass</h3>
        <br>
        <input type="text" [(ngModel)]="userClass" placeholder="Ex : text-success">
    </div>
</div>

<div class="row text-center">
    <div class="col-12 m-3">
        <h1><u> Examples of Attribute Directive - ngStyle </u></h1>
    </div>
</div>

<div class="row text-center pt-3">
    <div class="col-4">
        <h3 [ngStyle]="{'color': styleColor,'font-weight':'lighter'}">This is the first example of ngStyle</h3>
        <br>
        <button class="btn btn-warning m-2" (click)="updateColor('orange')">Change to Orange</button>
        <button class="btn btn-primary m-2" (click)="updateColor('blue')">Change to blue</button>
    </div>

    <div class="col-4">
        <h3 [ngStyle]="{'color': isTextOrange ? 'orange' : 'blue'}">This is the second example of ngStyle</h3>
        <br>
        <input type="checkbox" [(ngModel)]="isTextOrange"> Change Colour
    </div>

    <div class="col-4">
        <h3 [ngStyle]="customClass">This is the third example of ngStyle</h3>
    </div>
</div>
</div>




