<div class="row text-center">
    <h4>Demonstrate the entire hook event lifecycle</h4>
</div>


<table class="table table-bordered">
    <thead>
    <tr>
        <th>
            <b>Sequence</b> 
        </th>
        <th>
            <b>Event Name</b>
        </th>
         <th>
            <b>Event Usage</b>
        </th>
    </tr>
    </thead>
    <tbody>
        @for (event of this.lifecycleEvent; track event) 
        {
            <tr>
                <td class="bg-light">{{ event.seqence }} </td>
                <td class="bg-light"> {{ event.name + "()" }}</td>
                <td class="bg-light"> {{ event.usage }}</td>
            </tr>                  
        }
    </tbody>
</table>
<div class="row">

    <input type="button" value="submit" (click)="onSubmit()">
</div>
