<div class="container d-flex justify-content-center m-5" style="height: 100%;">
    <div class="text-center w-50 p-5 border border-secondary">
        <h2> Welcome to Login</h2>
       
            <label for="username">Username:&nbsp; </label><input id="username" type="text" placeholder="Please enter username"><br><br>
       
            <label for="password">Password:&nbsp; </label><input id="password" type="password" placeholder="Please enter password"><br><br>
        
            <button class="btn btn-primary" (click)="loginData()">Login</button>
        
        
        
    </div>

</div>
