<nav class="navbar navbar-expand-lg bg-body-secondary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item active">
          <a class="nav-link" routerLink="home" routerLinkActive="activeLink">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="databinding" routerLinkActive="activeLink">Data Binding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="directive" routerLinkActive="activeLink">Directive</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="hook-lifecycle" routerLinkActive="activeLink">Hook Lifecycle</a>
        </li>
          <li class="nav-item">
          <a class="nav-link"  routerLink="pipe" routerLinkActive="activeLink">Pipe</a>
        </li>
          <li class="nav-item">
          <a class="nav-link"  routerLink="template-driven-form" routerLinkActive="activeLink">Template-driven-form</a>
        </li>
          <li class="nav-item">
          <a class="nav-link"  routerLink="reactive-form" routerLinkActive="activeLink">Reactive-form</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="product-list" routerLinkActive="activeLink">Product-list</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="login" routerLinkActive="activeLink">Login</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>